/* Resetting */
:root {
  --primary-colour: hsl(166, 88%, 39%);
  --secondary-colour: hsl(166, 81%, 25%);
  --background-colour: hsl(0, 0%, 96%);
  --background-colour--2: hsl(0, 0%, 100%);
  --text-colour: hsl(0, 0%, 24%);
  --text-colour--2: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
button {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

button {
  border: none;
  background: none;

  /* Centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  filter: saturate(125%) brightness(125%);
}

button:active {
  transform: translateY(1px);
}

button:focus-visible {
  /* border: 2px solid blue; */
  outline: 2px solid blue;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  /* for some reason does not inherit on default */
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  /* os settings reduce motions */
  /* Animation Effects for win 11 */

  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Styling */
body {
  background-color: var(--primary-colour);
  background: linear-gradient(
    45deg,
    var(--secondary-colour) 0%,
    var(--primary-colour) 100%
  );
  padding: 1rem;
  min-height: 100dvh;

  /* Centering a div 1 : flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Centering a div 2 : grid */
  /* display: grid;
  place-items: center; */
}

.card {
  background: var(--background-colour);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  border-radius: 1rem;
  overflow: hidden;
  height: 40rem;
  width: 60rem;
}

/* notes */
.card__notes {
  background-color: var(--background-colour--2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  overflow: hidden;
}

.card__notes h1 {
  color: var(--secondary-colour);
  font-weight: 500;
  font-size: 1.5rem;
}

.card__notes svg {
  /* for text size scaling */
  width: 1.5rem;
  height: 1.5rem;
}

.card__notes__items {
  flex: 1;
  overflow: auto;
  margin-bottom: 1rem;
}

.card__notes__items li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  opacity: 70%;
}

.card__notes__items li > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__notes__items__delete {
  height: 2rem;
  width: 2rem;
}

.card__notes__items__delete:hover {
  color: var(--text-colour);
}

.card__notes__items li:first-of-type {
  background-color: hsl(from var(--primary-colour) h s l / 0.32);
  opacity: 1;
}

.card__notes__add {
  color: var(--text-colour--2);
  background-color: var(--secondary-colour);
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.card__notes__user {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--background-colour);
  overflow: hidden;
}

.card__notes__user p,
.card__notes__user button {
  padding: 0.5rem;
}

.card__notes__user p {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__notes__user button {
  background-color: hsl(from var(--primary-colour) h s l / 0.32);
}

/* todo-items */
.card__todos {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__todos h1 {
  background-color: var(--secondary-colour);
  background: linear-gradient(
    90deg,
    var(--primary-colour) 0%,
    var(--secondary-colour) 100%
  );
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 1rem;
  color: var(--text-colour--2);
  font-size: 2rem;
  font-weight: 600;
}

.card__todos__items {
  overflow: auto;
  padding: 1rem;
  padding-bottom: 4rem;
}

.card__todos__items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-colour--2);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.card__todos__items__delete {
  height: 2rem;
  width: 2rem;
}

.card__todos__items__delete:hover {
  color: hsl(from var(--text-colour) h s l / 1);
}

.card__todos__items__add {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--secondary-colour);
  border-radius: 100%;
  color: var(--text-colour--2);
  height: 3rem;
  width: 3rem;
}

/* Mobile */
.card__burger {
  z-index: 2;
  display: none;
}

.card__burger label {
  cursor: pointer;
}

.card__burger label svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3rem;
}

.card__burger input {
  display: none;
}

@media screen and (max-width: 640px) {
  .card {
    grid-template-columns: 0fr 3fr;
    position: relative;
  }

  .card__notes {
    z-index: 1;
    display: none;
    position: absolute;
    height: 100%;
    border-radius: 1rem;
  }

  .card__burger {
    display: block;
    background-color: var(--background-colour--2);
    padding: 1rem;
  }

  .card__burger:has(input:checked) + .notes {
    width: unset;
    left: 2.5rem;
    right: 0;
    height: 40rem;
    display: flex;
  }
}
